@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format("woff2");
}

::selection {
  background-color: #79ffe1;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-variant-ligatures: contextual common-ligatures;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
